@import "../../App.scss";
.organizationinfo{

    &__form{
        
        width:80%;
        margin:4rem auto;
        box-shadow:0 3px 6px rgba(0, 0, 0, 0.157);
        border:.3px solid $border-color;
        border-radius:4.2rem;

        @include respond(phone){
            width:100%;
            box-shadow:0 0 0 black;
            border:none;
        }

        &--title{
            font-size:2.8rem;
            font-weight: bold;
            text-transform: uppercase;
            color:$greyish;
            display: flex;
            justify-content: center;
            padding: 3rem 0;

            @include respond(phone){
                font-size:1.8rem;
            }
        }
        &--formGroup{
            display: flex;
            flex-direction: column;
            position:relative;
            padding: 3rem;
            width: 80%;
            margin: 0 auto;
            border-radius: 1.3rem;
            min-height: 12rem;
            border: .3px solid $borderColor;
            box-shadow:0 3px 11px -6px rgba(0, 0, 0, 0.157);
            margin-bottom: 2rem;

            @include respond(phone){
                width:95%;
            }

            .dateGroup-label{
                color:grey;
                // letter-spacing: .2rem;
            }
            label{
                font-size:1.4rem;
                margin-bottom: .9rem;
            }
            input{
                border:none;
                border-bottom:.4px solid rgba(128, 128, 128, 0.411);
                width:40%;
                @include respond(tab-port){
                    width:80%;
                }
                @include respond(phone){
                    width:80%;
                }
                padding:1rem 0 .5rem 0;
                transition: .1s ease-in-out;
                backface-visibility: hidden;

                &:active,&:focus{
                    outline:none;
                    border-bottom: 2px solid purple;
                    background-color:white;
                }
            }

            .dropdownContainer{
                margin-top: 1rem;
                margin-bottom: 1rem;
                width:48%;
                @include respond(tab-port){
                    width:80%;
                }
                @include respond(phone){
                    width:80%;
                }
                padding:.9rem 1rem;
                display: flex;
                justify-content: space-between;
                border:.3px solid $borderColor;
                color:$greyish;  
                background-color: white;
                transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
                position:relative;
                
            }
            .dropdownlist{
                margin-top: 1rem;
                position:absolute;
                top:5rem;
                width:50%;
                background-color: $white;
                box-shadow: -1px 2px 7px -1px rgba(128, 128, 128, 0.316); 
                z-index:5;
                height: 16rem;
                overflow-y: scroll;

                li{
                    padding:1rem 0 1rem 1rem;
                    font-size:1.3rem;
                    list-style-type:none;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(242, 242, 242);
                    }
                }
            }

        }


        .buttonGroup{
            padding:3rem 5rem;
            display: flex;
            justify-content: end;
            .submit{
                padding:1rem 5rem;
                border:none;
                color:$white;
                background-color: $blueish;
                font-size:1.5rem;
                font-weight: bold;

                &:hover{
                    box-shadow: 0 8px 8px -4px rgb(128, 128, 128);
                }

            }
        }
    }

    .buttonGroup{
        padding:3rem 5rem;
        display: flex;
        justify-content: end;
        .link{
            text-decoration: none;
        }
        .btn{
            padding:1rem 5rem;
            border:none;
            color:$white;
            background-color: $redish;
            font-size:1.5rem;
            font-weight: bold;

            &:hover{
                box-shadow: 0 8px 8px -4px rgb(128, 128, 128);
            }

        }
    }
    
}