
@import "../../App.scss";
.stakeholder{
    &__form{
        
        width:80%;
        margin:4rem auto;
        box-shadow:0 3px 6px rgba(0, 0, 0, 0.157);
        border:.3px solid $border-color;
        border-radius:4.2rem;

        @include respond(phone){
            width:100%;
            border:none;
            box-shadow:none;
        }

        &--title{
            font-size:2.8rem;
            font-weight: bold;
            text-transform: uppercase;
            color:$greyish;
            display: flex;
            justify-content: center;
            padding: 3rem 0;

            @include respond(phone){
                font-size:1.8rem;
            }
        }

        .radioGroup{
            display: flex;
            flex-direction: column;
            padding: 3rem;
            border: .3px solid $borderColor;
            width: 80%;
            margin: 0 auto;
            border-radius: 1.3rem;
            min-height: 12rem;
            box-shadow:0 3px 11px -6px rgba(0, 0, 0, 0.157);
            margin-bottom: 2rem;

            @include respond(phone){
                width:95%;
            }

            &--heading{
                font-size: 1.4rem;
                padding-bottom:1rem;
            }
            
            &--1{
                padding:1rem 1rem;
                font-size:1.4rem;
                color:$greyish;

                label{
                    padding-left: .6rem;
                }
            }

        }
        .matrixGroup{
            display: flex;
            flex-direction: column;
            padding: 3rem;
            border: .3px solid $borderColor;
            width: 80%;
            margin: 0 auto;
            border-radius: 1.3rem;
            min-height: 12rem;
            box-shadow:0 3px 11px -6px rgba(0, 0, 0, 0.157);
            margin-bottom: 2rem;

            @include respond(phone){
                width:95%;
                box-shadow:none;
            }

            &--heading{
                font-size: 1.4rem;
                padding-bottom:1rem;
            }
            .table{
                thead{
                    text-align: center;
                    tr{
                        td{
                            color:$greyish;
                            padding:1rem;
                            font-size:1.4rem;

                            @include respond(phone){
                                font-size:1.2rem;
                            }
                        }
                    }
                }
                tbody{
                    
                    tr{
                        
                        td{
                            padding:.6rem;
                            color:$greyish;
                            font-size: 1.4rem;

                            @include respond(phone){
                                font-size:1.2rem;
                            }


                            input[type='radio']{
                                display: flex;
                                justify-content: center;
                                width: 100%;
                            }

                        }
                    }
                }
            }

        }

        .buttonGroup{
            padding:3rem 5rem;
            display: flex;
            justify-content: end;
            .submit{
                padding:1rem 5rem;
                border:none;
                color:$white;
                background-color: $blueish;
                font-size:1.5rem;
                font-weight: bold;

                &:hover{
                    box-shadow: 0 8px 8px -4px rgb(128, 128, 128);
                }

            }
        }
        
}
.buttonGroup1{
    padding:3rem 5rem;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    gap:1rem;
    .link{
        text-decoration: none;
    }
    .btn{
        padding:1rem 5rem;
        border:none;
        color:$white;
        background-color: $redish;
        font-size:1.5rem;
        font-weight: bold;

        &:hover{
            box-shadow: 0 8px 8px -4px rgb(128, 128, 128);
        }

    }
}
}