@import "../../App.scss";

.sidebarlink{
    display: flex;
    align-items: center;
    cursor:pointer;
    width:86%;
    gap:1rem;
    padding:.7rem 0 .7rem 1.6rem;
    text-decoration: none;
    color:white;
    margin:0;
    display: flex;
    
        &:hover{
            background-color: white;
            color:grey;
            border-radius: 4rem;
        }
    }
.sidebar{
    
    background-color: rgb(23, 23, 23);
    height: 100vh;
    position: sticky;
    top:0;
    transition: all .3s ease-in-out;

    &__logo{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding:1rem;
        &--content{
            .sidebarLogo{
                display: flex;
                align-items: center;
                cursor:pointer;

                max-width:20%;
                gap:1rem;
                padding:.7rem 0 .7rem 1.6rem;
                text-decoration: none;
                color:white;
                margin:0;
                display: flex;
                
            &--icon{
                font-size:3.8rem;

                @include respond(tab-port){
                    font-size: 4.2rem;
                    margin-left:-10px;
                
                }
                @include respond(phone){
                    margin-left:-15px;

                }
            }

            &--name{
                font-size:3.2rem;
                font-weight: bold;
                font-family: Jost;
                transition: all .3s ease-in-out;
                @include respond(tab-port){
                    opacity:0;
                    transform: translateX(-30px);
                    visibility: hidden;
                }
                @include respond(phone){
                    opacity:0;
                    transform: translateX(-30px);
                    visibility: hidden;
                }
                
            }
        }
        }

        &--menu{
            display: none;
            visibility: hidden;
            // cursor:pointer;
            // span{
            //     border:1px solid white;
            //     width: 25px;
            //     display: flex;
            //     margin-bottom: 1rem;
            //     @include respond(tab-port){
            //         opacity:0;
            //         transform: translateX(-30px);
            //         visibility: hidden;
            //     }
            //     @include respond(phone){
            //         opacity:0;
            //         transform: translateX(-30px);
            //         visibility: hidden;
            //     }
            // }
        }
    }


    &__list{
        color:white;
        &--title{
            font-size:1.7rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
            margin-left: 2.5rem;
            transition: all .3s ease-in-out;
            @include respond(tab-port){
                opacity:0;
                visibility: hidden;
            }
            @include respond(phone){
                opacity:0;
                visibility: hidden;
            }
        }

        &--items{
            font-size:1.4rem;
            font-family: Jost;
            margin-left: 4rem;
            margin-bottom: 2rem;

            @include respond(tab-port){
                margin-left: 7px;
            }
            @include respond(phone){
                margin-left: 0;
            }
            
            .item--1{
                &--icon{
                    font-size:1.8rem;
                    @include respond(tab-port){
                        font-size:2.5rem
                    }
                    @include respond(phone){
                        font-size:2.5rem
                    }
                }
                &--name{
                    font-size:1.5rem;
                    transition: all .3s ease-in-out;
                    @include respond(tab-port){
                        opacity:0;
                        transform: translateX(-30px);
                        visibility: hidden;
                    }
                @include respond(phone){
                    opacity:0;
                    transform: translateX(-30px);
                    visibility: hidden;
                }
                } 
            }
            .item--2{
                
                &--icon{
                    font-size:1.8rem;
                    @include respond(tab-port){
                        font-size:2.5rem
                    }
                    @include respond(phone){
                        font-size:2.5rem
                    }
                }
                &--name{
                    font-size:1.5rem;
                    transition: all .3s ease-in-out;
                    @include respond(tab-port){
                        opacity:0;
                        transform: translateX(-30px);
                        visibility: hidden;
                    }
                @include respond(phone){
                    opacity:0;
                    transform: translateX(-30px);
                    visibility: hidden;
                }
                }
            }
            .item--3{
                
                &--icon{
                    font-size:1.8rem;
                    @include respond(tab-port){
                        font-size:2.5rem
                    }
                    @include respond(phone){
                        font-size:2.5rem
                    }
                }
                &--name{
                    font-size:1.5rem;
                    transition: all .3s ease-in-out;
                    @include respond(tab-port){
                        opacity:0;
                        transform: translateX(-30px);
                        visibility: hidden;
                    }
                @include respond(phone){
                    opacity:0;
                    transform: translateX(-30px);
                    visibility: hidden;
                }
                }
            }
            .item--4{
                
                &--icon{
                    font-size:1.8rem;
                    @include respond(tab-port){
                        font-size:2.5rem
                    }
                    @include respond(phone){
                        font-size:2.5rem
                    }
                }
                &--name{
                    font-size:1.5rem;
                    transition: all .3s ease-in-out;
                    @include respond(tab-port){
                        opacity:0;
                        transform: translateX(-30px);
                        visibility: hidden;
                    }
                @include respond(phone){
                    opacity:0;
                    transform: translateX(-30px);
                    visibility: hidden;
                }
                }

            }
        }
    }
}