@import "../../App.scss";
.sidebar{
    transition:all .5s ease-in-out;
position:sticky;
top:0;
    &__logo{
padding-top: 2.5rem;
font-size:3.8rem;
font-weight: bold;
font-family: Jost;
cursor:pointer;
color:$white;
padding-left: 1rem;
margin-bottom: 1.9rem;

.link{
    text-decoration: none;
    color:$white;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:1rem;
}
    }

    &__list{

        &--title{
            font-size:1.7rem;
            color:$white;
            font-weight: bold;
            margin-bottom: 1.5rem;
            margin-left: 2.5rem;
        }
        &--items{
            font-size:1.5rem;
            font-family: jost;
            color:$white;
            margin-left: 4rem;
            

            .item__1{
                margin-bottom: .3rem;
                width:86%;
                transition: all .1s ease-in;
                .link{
                padding:.7rem 0 .7rem 1.6rem;
                display: flex;
                align-items: center;
                gap:1rem;
                color:$white;
                text-decoration: none;
                &:hover{
                    background-color: $white;
                    color:$grey;
                    border-radius: 4rem;
                }
                }
                .active{
                    color:$grey;
                    background-color: $white;
                    border-radius: 4rem;
                }

               
            }
            .item__2{
                margin-bottom: .3rem;
                width:86%;
                transition: all .1s ease-in;
                .link{
                padding:.7rem 0 .7rem 1.6rem;
                display: flex;
                align-items: center;
                gap:1rem;
                color:$white;
                text-decoration: none;
                &:hover{
                    background-color: $white;
                    color:$grey;
                    border-radius: 4rem;
                }
                }
                .active{
                    color:$grey;
                    background-color: $white;
                    border-radius: 4rem;
                }
            }
            .item__3{
                margin-bottom: .3rem;
                width:86%;
                transition: all .1s ease-in;
                .link{
                padding:.7rem 0 .7rem 1.6rem;
                display: flex;
                align-items: center;
                gap:1rem;
                color:$white;
                text-decoration: none;
                &:hover{
                    background-color: $white;
                    color:$grey;
                    border-radius: 4rem;
                }
                }
                .active{
                    color:$grey;
                    background-color: $white;
                    border-radius: 4rem;
                }
            }
            .item__4{
                margin-bottom: 1rem;
                width:86%;
                transition: all .1s ease-in;
                .link{
                padding:.7rem 0 .7rem 1.6rem;
                display: flex;
                align-items: center;
                gap:1rem;
                color:$white;
                text-decoration: none;
                &:hover{
                    background-color: $white;
                    color:$grey;
                    border-radius: 4rem;
                }
                }
                .active{
                    color:$grey;
                    background-color: $white;
                    border-radius: 4rem;
                }
            }
        }

    }
}